@import url(https://fonts.googleapis.com/css?family=Open+Sans);


h1{
  margin: 1%;
  padding: 1%;
}
body {
    color: rgb(255, 255, 255);
    font-family: 'Open Sans';
    background-color: #000;
    margin: 0;
    padding: 0;
  }



  h3{
    padding: 2px;
    margin: 2px;
  }
  .btn_default{
    background-color: #888;
    color: rgb(255, 255, 255);
    height: 40px;
    min-width: 120px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
  }
  .btn_default:hover,
  .btn_default:focus{
    filter: grayscale(0%) opacity(1);
    background: rgb(32, 32, 32);
    color: #888;
  
  }

  .form_field {
    font-family: inherit;
    width: 70%;
    border: 0;
    border-bottom: 2px solid rgb(87, 85, 85);
    outline: 0;
    font-size: 1.3rem;
    color:#888;
    padding: 1%;
    margin: 1%;
    background: transparent;
    transition: border-color 0.2s;
  }

  @media only screen and (max-width: 900px) {
    .mapip { 
      height: 480px; 
      width: 98%;
      float:left;
      margin: 1%;
      padding: 1%;
  
  }
  .text{
    height: 480px; 
    width: 98%;
    float:left;
    margin: 1%;
    padding: 1%;
    overflow: auto;
    background-color: rgb(56, 53, 53);

  }
  }

  @media only screen and (min-width: 900px) {
    .mapip { 
      height: 480px; 
      width: 36%;
      float:left;
      margin: 1%;
      padding: 1%;
  
  }
  .text{
    height: 480px; 
    width: 56%;
    float:left;
    margin: 1%;
    padding: 1%;
    overflow: auto;
    background-color: rgb(56, 53, 53);

  }
  }